<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.up.agr.thai_nativechickenexpertsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SubMainActivity"
            android:label="@string/title_activity_sub_main"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme" />
        <activity
            android:name=".ChickenDatailActivity"
            android:label="@string/title_activity_chicken_datail"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModernMainActivity"
            android:label="@string/title_activity_modern_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".AddDataActivity"
            android:label="@string/title_activity_add_data"
            android:theme="@style/SearchTheme"></activity>
    </application>

</manifest>